version: '3.8'
services:
    # 1. 新增 Redis 服務
    redis:
        image: redis:alpine
        ports:
            - "6379:6379"
        networks:
            - mlops_network

    data_fix:
        image: python:3.10-slim
        volumes:
            - ./items_metadata.json:/app/items_metadata.json
            - ./src/fix_prices.py:/app/fix_prices.py
        working_dir: /app
        command: python src/fix_prices.py

    api:
        build: 
            context: .
            dockerfile: Dockerfile.api
        ports:
            - "8000:8000"
        networks:
            - mlops_network
        depends_on:  # 2. 確保 API 等 Redis 啟動後才啟動
            - data_fix
            - redis
        volumes:
            - ./model.pth:/app/model.pth
            - ./params.yaml:/app/params.yaml
            - ./item_map.json:/app/item_map.json
            - ./items_metadata.json:/app/items_metadata.json
            - ./init_redis.py:/app/init_redis.py
            - ./data/processed:/app/data/processed

            

    ui:
        build:
            context: .
            dockerfile: Dockerfile.ui
        ports:
            - "8501:8501"
        environment:
            - API_URL=http://api:8000
            - STREAMLIT_SERVER_FILE_WATCHER_TYPE=poll   # 確保即時更新生效
            - STREAMLIT_SERVER_RUN_ON_SAVE=true
        depends_on:
            - api
        networks:
            - mlops_network
        volumes:
            - ./app.py:/app/app.py

networks:
    mlops_network: