version: '3.8'
services:
    # 1. 新增 Redis 服務
    redis:
        image: redis:alpine
        ports:
            - "6379:6379"
        networks:
            - mlops_network

    api:
        build: 
            context: .
            dockerfile: Dockerfile.api
        ports:
            - "8000:8000"
        networks:
            - mlops_network
        depends_on:  # 2. 確保 API 等 Redis 啟動後才啟動
            - redis
        volumes:
            - ./model.pth:/app/model.pth
            - ./params.yaml:/app/params.yaml
            - ./item_map.json:/app/item_map.json

    ui:
        build:
            context: .
            dockerfile: Dockerfile.ui
        ports:
            - "8501:8501"
        environment:
            - API_URL=http://api:8000/recommend
        depends_on:
            - api
        networks:
            - mlops_network

networks:
    mlops_network: